#mainTable{
    margin-top: 70px;
}
#titleTable{
    background-color: white;
    font-weight: bold;
    position: fixed;
    left: 8px;
    top: 5px;
    text-align: center;
}
.redColor{
    color: red;
}
span{
    cursor: pointer;
    margin: 0 20px;
    text-decoration: underline;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    padding: 5px;
    width: 110px;
}